name: build

on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ windows-latest, ubuntu-latest ]
        rust: [ 1.90.0, 1.92.0 ]
    steps:
    - uses: actions/checkout@v4

    - name: Get latest version of CMake
      uses: lukka/get-cmake@latest

    - name: Install rust stable
      uses: dtolnay/rust-toolchain@stable
      with:
        toolchain: ${{ matrix.rust }}
        components: rustfmt, clippy

    # choose a older version to avoid apt error
    - name: Install msquic from apt (linux)
      if: runner.os == 'Linux'
      run: |
        wget -q https://packages.microsoft.com/config/ubuntu/$(lsb_release -rs)/packages-microsoft-prod.deb;
        sudo dpkg -i packages-microsoft-prod.deb;
        sudo apt-get update;
        sudo apt-get install libmsquic=2.5.6;
        dpkg -L libmsquic;

    - name: Run Vcpkg (windows)
      if: runner.os == 'Windows'
      uses: lukka/run-vcpkg@v11
      with:
        vcpkgGitCommitId: 84bab45d415d22042bd0b9081aea57f362da3f35 # 2025.12.12
      env:
        VCPKG_BINARY_SOURCES: default,rw

    - name: Set up binary cache
      if: runner.os == 'Windows'
      uses: actions/cache@v4
      with:
        path: ${{ env.VCPKG_DEFAULT_BINARY_CACHE }}
        key: ${{ runner.os }}-vcpkg-binary-cache-${{ hashFiles('vcpkg*.json') }}
        restore-keys: |
          ${{ runner.os }}-vcpkg-binary-cache-

    - name: install msquic from vcpkg (windows)
      if: runner.os == 'Windows'
      run: |
        vcpkg install msquic

    - name: run cmake
      run: > 
        cmake . -B build

    - name: run build
      run: cmake --build build
    
    - name: Run cargo check
      run: cargo +${{ matrix.rust }} check --all-targets --all-features

    - name: Run cargo fmt
      run: cargo +${{ matrix.rust }} fmt --all -- --check
    
    - name: Run cargo clippy
      run: cargo +${{ matrix.rust }} clippy --all-targets --all-features -- -D warnings

    - name: Run cargo test
      run: cargo +${{ matrix.rust }} test --all -- --nocapture